@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.vector-fondo {
  background-image: url("../src/assets/img/vector-header.svg");
  background-repeat: repeat-x;
  padding: 0%;
}

.vector-footer {
  background-image: url("../src/assets/img/Vecto2r.svg");
  background-repeat: repeat-x;
  padding: 0%;
  position: absolute;
  top: 140%;
}

.fondo {
  background-image: url("../src/assets/img/fondo-textura.svg");
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-size: cover;
}

.itemDot {
  background-image: url("../src/assets/img/item-dot.svg");
  background-color: #EBE4DF;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  text-align: center;
}