@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.vector-fondo {
  background-image: url("../src/assets/img/vector-header.svg");
  background-repeat: repeat-x;
  padding: 0%;
}

.fondo-pincelada {
  background-image: url("../src/assets/img/imagen-fondo-pintura.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 100%;
  height: auto;
}

.itemDot {
  background-image: url("../src/assets/img/item-dot.svg");
  background-color: #EBE4DF;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

@media (max-width: 1400px) {

  .vector-footer {
    top: 510px;
  }

  .fondo {
    background-size: auto;
  }

  .itemDot {
    width: 12%;
    height: auto;
  }

  .vector-footer {
    display: none;
  }
}







.menu-resposive.open {
  display: flex;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 40px;
  /* Ajusta la posición vertical según necesites */
  left: 0;
  width: 100%;
  padding: 10px;
}

#resposive {
  display: none;
}